[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
python-dotenv = "*"
databases = "*"
pydantic = {extras = ["email"], version = "*"}
aiosqlite = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"
